/* CSS */
button {
    margin-left: 10px;
}

.button-3 {
    /* width: 100%; */
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .button-3:hover {
    background-color: #2c974b;
  }
  
  .button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }
  
  html {
    height: 100%;
    width: 100%;
  }
  
  .nav {
    border-radius: 20px;
    border: 1px solid gray;
    height: 50px;
    width: 95%;
    margin: auto;
  }
  
  .bottom {
    display: flex;
    flex-direction: row;
  }
  
  .bottom-left {
    margin: 15px;
    margin-right: 0%;
    border-radius: 20px;
    /* padding: 20px; */
    border: 1px solid gray;
    height: 90vh;
    width: 50%;
  }
  
  .bottom-right {
    margin: 15px;
    border-radius: 20px;
    padding: 20px;
    padding-top: 0px;
    border: 0px solid gray;
    height: 90vh;
    width: 40%;
  }
  
  /* -------------------------- */
  
  details {
    display: inline;
    cursor: pointer;
  }
  
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  #sqlContainer{
    max-height: 150px;
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: black;
    border: 1px solid #ccc;
    white-space: pre-wrap; /* Preserve line breaks */
    max-height: 300px; /* Limit height for overflow */
    overflow-y: auto; /* Enable vertical scroll if needed */
    border-radius: 20px;
  }

  #csvContainer {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    white-space: pre-wrap; /* Preserve line breaks */
    max-height: 200px; /* Limit height for overflow */
    overflow-y: auto; /* Enable vertical scroll if needed */
    border-radius: 20px;
  }
  
  /* ------------------------- */
  
  .upload {
    
    padding: 20px;
    padding-left: 20px;
    /* padding-bottom: 0px; */
    border: 2px rgb(32, 31, 31) solid;
    width: 95%;
    border-radius: 15px;
    /* margin: 20px; */
  }

  .upload2 {
    margin-top: 20px;
    margin-top: 20px;
    padding: 20px;
    border: 1px gray solid;
    width: 95%;
    border-radius: 15px;
    max-height: 92%;
    /* margin: 20px; */
  }
  
  .upload-section1 {
    
    min-height: 40px;
    padding-top: 20px;
    padding-left: 20px;
    /* padding-bottom: none; */
    border: 1px gray solid;
    width: 90%;
    border-radius: 15px;
    margin: 20px;
  }

  .upload-section {
    
    min-height: 40px;
    padding-top: 20px;
    padding-left: 20px;
    /* padding-bottom: none; */
    border: 1px gray solid;
    width: 90%;
    border-radius: 15px;
    margin: 20px;
  }
  
  .transform {
    margin-top: 10px;
    padding: 20px;
    padding-top: 10px;
    border: 1px gray solid;
    width: 90%;
    border-radius: 15px;
  }
  
  /* --------- modal */

  /* body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.chat-container {
    padding: 15px;
    width: 100%;
    /* max-width: 350px; */
    margin: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 20px;
    overflow: auto;
    height: 90vh;
}

.chatbox {
    height: 100%px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
}

p {
    margin: 5px 0;
    padding: 8px;
    background-color: #e7f5ff;
    border-radius: 18px;
    border: 1px solid #d0eaff;
    max-width: fit-content;
}

button {
    padding: 12px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}

/* Scrollbar Styles */
.chatbox::-webkit-scrollbar {
    width: 5px;
}

.chatbox::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.chatbox::-webkit-scrollbar-thumb {
    background: #888;
}

.chatbox::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.highlight {
    color: #007bff; /* Change the text color to blue */
    font-weight: bold; /* Make the text bold */
}
#bottomButton {
    position: absolute;
    bottom: 10px; /* Adjust this value to set distance from bottom */
    left: 50%; /* Adjust this value to center horizontally */
    transform: translateX(-50%); /* Center the button horizontally */
}
#sendBtn {
    position: absolute;
    bottom: 10px; /* Adjust this value to set distance from bottom */
    left: 50%; /* Adjust this value to center horizontally */
    transform: translateX(-50%); /* Center the button horizontally */
}

li {
    margin-top: 20px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 60vw;
    height: 60vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px; 
    margin-top: 100px;
    margin-left: 300px;
    border-radius: 10x;
  }
  
  .modal-content {
    overflow: auto;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    width: 50vw;
    max-width: 50vw;
    height: 50vh;
    max-height: 50vh;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  pre {
    border-radius: 20px;

  }

  .csvContainerr {
    width: 100%;
    max-width: 100%;
    height: 50px;
    max-height: 100px;
  }